.feature-template-picker {
  -fx-spacing: 0;
}

.feature-template-picker:horizontal .feature-template-group {
  -fx-border-width: 0 1 0 0;
}

.feature-template-group {
  -fx-spacing: 5;
  -fx-padding: 5;
  -fx-alignment: top-center;
  -fx-border-color: -fx-box-border;
  -fx-border-width: 0 0 1 0;
}

.feature-template-item {
  -fx-text-fill: black;
  -fx-base: transparent;
  -fx-background: transparent;
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
  -fx-effect: null;
  -fx-content-display: top;
  -fx-min-width: 80;
}

.feature-template-item:hover {
  -fx-background-color: rgba(10, 10, 10, 0.1);
}

.feature-template-item:focused {
  -fx-border-color: cyan;
  -fx-background-color: transparent;
}

.feature-template-item:focused:selected {
  -fx-border-color: cyan;
  -fx-background-color: pink;
}

.feature-template-item:selected {
  -fx-border-color: transparent;
  -fx-background-color: pink;
}