.feature-template-picker {
  -fx-spacing: 0;
}

.feature-template-picker:horizontal .feature-template-group {
  -fx-border-width: 0 1 0 0;
}

.feature-template-group {
  -fx-spacing: 5;
  -fx-padding: 5;
  -fx-alignment: top-center;
  -fx-border-color: -fx-box-border;
  -fx-border-width: 0 0 1 0;
}

.feature-template-item {
  -fx-text-fill: black;
  -fx-background-color: transparent;
  -fx-content-display: top;
  -fx-min-width: 80;
}

.feature-template-item:hover {
  -fx-background-color: -fx-hover-base;
}