/* Stylesheet containing specific styles for an Example View */

/* Colors and themes taken from Esri Calcite Web */
* {
    -calcite-ui-brand: #007AC2;
    -calcite-ui-brand-hover: #00619B;
    -calcite-ui-brand-press: #004874;
    -calcite-ui-background: #F8F8F8;
    -calcite-ui-foreground-1: #FFFFFF;
    -calcite-ui-foreground-2: #F3F3F3;
    -calcite-ui-foreground-3: #EAEAEA;
    -calcite-ui-text-1: #151515;
    -calcite-ui-text-2: #4A4A4A;
    -calcite-ui-text-3: #6A6A6A;
    -calcite-ui-text-inverse: #FFFFFF;
    -calcite-ui-text-link: #00619B;
    -calcite-ui-border-1: #CACACA;
    -calcite-ui-border-2: #D4D4D4;
    -calcite-ui-border-3: #DFDFDF;
    -calcite-ui-border-input: #949494;
    -calcite-ui-info: #00619B; /* state color: blue - Info - used for Non critical information which requires minimal user attention */
    -calcite-ui-success: #35AC46; /* state color: green - Success - To be used when an important action has been completed successfully and requires user notification. */
    -calcite-ui-warning: #EDD317; /* state color: yellow - Warning - To be used when something needs the user's attention, but is not critical or destructive.*/
    -calcite-ui-danger: #D83020; /* state color: red - Danger - A connection error, destructive action, action failure, etc. */
    -calcite-ui-danger-hover: #A82B1E;
    -calcite-ui-danger-press: #7C1D13;
}

/* Example tab pane */

#example-tab-pane {
    -fx-tab-min-width: 100;
    -fx-tab-min-height: 30;
}

/* Settings */

.settings {
    -fx-padding: 10 10 10 10;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: -calcite-ui-border-input;
    -fx-border-width: 2;
    -fx-background-color: -calcite-ui-background;
}

.individual-setting {
    -fx-padding: 5;
    -fx-border-style: hidden;
    -fx-border-color: transparent;
    -fx-background-color: -calcite-ui-foreground-3;
}

.individual-setting Label {
    -fx-wrap-text: true;
}

.color-picker {
    -fx-min-height: 35;
    -fx-max-width: Infinity;
}

.color-picker .arrow-button {
    -fx-padding: 10;
}

.titled-pane > .title {
    -fx-font-size: 16;
}

/* Other styles */

.example-stackpane {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid hidden hidden hidden;
}
